html, body {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #625D62;
    line-height: 1.5;
}

a {
    color: #625D62;
}

p {
    margin: 0 0 1rem 0;
}

h1 {
    display: none;
}

h2 {
    font-weight: normal;
    font-size: 2rem;
    margin: 0 0 2rem 0;
    line-height: 1.1;
}

h2 span {
    display: block;
    font-size: 1rem;
}

h3, h4 {
    font-weight: bold;
    font-size: 1rem;
    margin: 0;
}

header {
    width: 70px;
    position: fixed;
    margin: 0 0 0 70px;
}

main {
    margin: 5rem 0 0 15rem;
    max-width: 35rem;
}

article {
    margin-bottom: 5rem;
}

#about {
    position: relative;
}

#about h2 {
    display: none;
}

.about-intro {
    font-size: 2rem;
    line-height: 1.2;
    margin-bottom: 2rem;
}

.know-more {
    display: none;
    position: relative;
}

.know-more-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 2rem;
}

.headshot {
    display: block;
    margin-bottom: 2rem;
}

.social-links {
    list-style: none;
    padding: 0;
    margin: 0 0 2rem 0;
}

.social-links a {
    text-decoration: none;
}

.social-links i {
    color: #73C434;
}

#services {
    position: relative;
}

#contact {
    position: relative;
}

form {
    margin-bottom: 2rem;
}

form > div {
    margin-bottom: 1rem;
}

label span {
    display: block;
    text-transform: uppercase;
    color: #93278F;
    margin-bottom: .5rem;
    font-size: .7rem;
}

input, textarea {
    box-sizing: border-box;
    font-size: 1rem;
    margin: 0;
    padding: .5rem;
    width: 100%;
    color: #625D62;
    line-height: 1.5;
    border: 1px solid #625D62;
    resize: vertical;
}

input:focus, textarea:focus {
    outline: none;
    border-color: #73C434;
}

.form-submit {
    text-align: right;
}

button {
    border: 0;
    display: inline-block;
    background-color: #625D62;
    padding: .5rem 1rem;
    color: white;
    cursor: pointer;
}

.form-sending {
    display: none;
    color: #999;
}

.form-success {
    font-size: 1.5rem;
    color: #73C434;
    margin-bottom: 2rem;
    display: none;
}

.contact-extra {
    list-style: none;
    padding: 0;
    margin: 0;
}

#works {
    position: relative;
}

.works-list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.works-list li:last-child .work-toggle {
    margin-bottom: 0;
}

.work-toggle {
    display: inline-block;
    background-image: linear-gradient(to right, #93278F 50%, #73C434 50%);
    background-size: 201% 100%;
    background-position: bottom right;
    background-repeat: no-repeat;
    transition: all .2s ease-out;
    text-decoration: none;
    font-size: 1.5rem;
    color: white;
    padding: 0 .57rem;
    margin-bottom: .5rem;
}

.work-toggle:hover {
    transition: all .2s ease-out;
    background-position: bottom left;
}

.work-toggle.active {
    background-color: #93278F;
    background-image: none;
    transition: all 0s;
}

.work-item {
    display: none;
    position: relative;
    box-sizing: border-box;
    background-color: #F4E9F4;
    margin: 1.5rem 0 2rem -15rem;
    padding: 2rem 2rem 0 2rem;
}

.work-toggle i {
    color: #73C434;
}

.work-item p {
    margin-bottom: 2rem;
}

.work-item h3 {
    font-weight: normal;
    font-size: 2rem;
    margin-bottom: 2rem;
}

.work-item h4 {
    margin-bottom: 1rem;
}

.list {
    list-style: disc;
    margin: 0 0 2rem 0;
    padding: 0;
}

.work-item img {
    display: block;
    margin-left: -2rem;
    margin-bottom: 2rem;
    opacity: 1;
    transition: opacity 0.3s;
    border: .3rem solid #F4BDF4;
    border-right: none;
    border-left: none;
}

.work-item img[data-src] {
    opacity: 0;
}

.work-item-controls {
    position: absolute;
    top: 0;
    right: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}

.work-item-controls li {
    display: inline-block;
    margin-left: .2rem;
}

.work-item-controls a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2rem;
    height: 2rem;
    text-decoration: none;
    background-color: gray;
    text-align: center;
    color: white;
}

.work-see {
    background-color: #73C434 !important;
}

.work-close {
    background-color: #93278F !important;
}

.no-mb {
    margin-bottom: 0 !important;
}

@media only screen and (max-width: 700px) {
    header {
        position: relative;
        margin: 2rem;
    }

    main {
        box-sizing: border-box;
        margin: 0;
        padding: 0 2rem 2rem 2rem;
        width: 100%;
        max-width: none;
    }

    .know-more-container {
        display: block;
    }

    .work-toggle {
        background-image: none;
        background-color: #73C434;
    }

    .work-item {
        margin: 2rem -2rem;
    }

    .work-item img {
        width: calc(100% + 4rem);
        margin-left: -2rem;
    }
}
