<!doctype html>
<html lang="{{ lang }}">
  <head>
    <meta charset="utf-8">
    <title>
      {%- if page.title is defined -%} {{ page.title }} {%- endif -%} 
      {%- if section.title is defined -%} {{ section.title }} {%- endif -%} 
    </title>
    <meta name="description" content="{%- if page.description is defined -%} {{ page.description }} {%- endif -%} {%- if section.description is defined -%} {{ section.description }} {%- endif -%}">
    <link rel="stylesheet" href="/main.css">
  </head>

  <body>
    <div class="container">
      <div class="logo">
        <a href="/">
          <img src="/imgs/logo.svg" alt="Zyglab">
        </a>
      </div>
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
